key: key # API秘钥
port: 1919 # API端口
syncfile: rules.json # 同步规则备份路径，启动时导入

debug: true # 调试模式

tls:
  cert: public.pem # 公钥路径
  key: private.key # 私钥路径

# dns: # 自定义dns
#   nameserver: 223.5.5.5
#   network: udp # 使用udp/tcp连接nameserver
#   timeout: 2000 # 解析超时时间

# tsp: # 隧道落地端 端口复用
#   ws: 11451
#   wss:
#   h2:

fake:
  host: www.microsoft.com # 隧道伪装host
  url: https://www.microsoft.com # 隧道伪装反代网址
  headers: # 隧道伪装headers
    Connection: keep-alive
    Content-Type: application/octet-stream
