key: key # API秘钥
port: 1919 # API端口
syncfile: rules.json # 同步规则备份路径，启动时导入

debug: true # 调试模式

certfile: public.pem # ssl 公钥路径
keyfile: private.key # ssl 私钥路径

dns:
  server: 223.5.5.5
  network: udp

tsp: # tunnel server port
  ws: 11451
  wss:
  h2:

fake:
  host: www.upyun.com # 隧道伪装host
  url: https://www.upyun.com # 隧道伪装反代网址
  headers:
    Connection: keep-alive
